@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #fff;
}
a{
    text-decoration: none;
}
/* Header section */
header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}
.logo{
    font-size: 1.3rem;
    font-weight: 800;
    color: #000;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1.1rem;
    padding: 5px 30px;
    font-weight: 400;
    color: #000;
}
header .logo span{
    color: #EC4067;
}
header ul button{
    background-color: #EC4067;
    border: none;
    color: #fff;
    border-radius: 6px;
    padding: 10px 40px 10px 40px;
    font-size: 18px;
}

