@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #fff;
}
section{
    padding: 100px 6%;
}
a{
    text-decoration: none;
}
/* Header section */
header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #fff;
}
.logo{
    font-size: 1.3rem;
    font-weight: 800;
    color: #000;
}
.navbar li{
    display: inline-block;
}
.navbar a{
    font-size: 1.1rem;
    padding: 5px 30px;
    font-weight: 400;
    color: #000;
}
header .logo span{
    color: #EC4067;
}
header ul button{
    background-color: #EC4067;
    border: none;
    color: #fff;
    border-radius: 6px;
    padding: 10px 40px 10px 40px;
    font-size: 18px;
}
/* End of header */

/* first section */
.first{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
/* @media only screen and (max-width: 746px) {
    body {
      background-color: lightblue;
    }
    .first-text{
        margin-top: 50px;
    }
  }
@media only screen and (max-width: 436px){
    body{
        background-color: lightcoral;
    }
    .first-text{
        margin-top: 70px;
    }
}
@media only screen and (max-width: 398px){
    body{
        background-color: lightgreen;
    }
    .first-text{
        margin-top: 90px;
    }
} */
.first-text{
    margin-top: 100px;
}
.first .first-text h4{
   color: #000;
   font-weight: 700;
   margin-bottom: 8px;
   font-size: 20px;
}
.first .first-text h1{
    color: #EC4067;
    margin-bottom: 20px;
    font-size: 50px;
}
.first .first-text p{
    font-size: 28px;
    color: #000;
}
.first .first-img img{
    width: 80%;
    margin-top: 100px;
}
.first .first-text button{
    background-color: #EC4067;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 15px 50px 15px 50px;
    font-weight: 800;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 30px;
}
.first .first-text button:nth-child(5){
   background-color: #fff;
   outline: 1px solid #EC4067;
   color: #EC4067;
   border-radius: 0px;
   width: 170px;

}